.waf-widget.waf-leftright {

}

.waf-leftright-part-left {
  position:absolute; 
  top:0;
  left:0;
  right:50%; 
  height:250px;
  background-color:red;
} 

.waf-leftright-part-right {
  position:absolute; 
  top:0;
  left:50%;
  right:0; 
  height:250px;
  background-color:green;
} 

